@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container {
    width: 80%; 
    max-width: 1200px; 
    margin: auto;
    margin-top: 80px; 
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 60px 80px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
}

.container hr {
    height: 2px;
    border: none;
    background: #e0e0e0; 
}

.container, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
    font-weight: 700;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

ul li:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

button:active {
    background-color: #397d3b;
    transform: scale(0.96); 
}

.container .index {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    color: #555;
}

.container .correct {
    background: #e6f9f0;
    border: 1px solid #00d397;
    color: #00d397;
    padding: 10px;
}

.container .wrong {
    background: #ffe6e6;
    border: 1px solid #ff4a4a;
    color: #ff4a4a;
    padding: 10px;
}


@media (min-width: 768px) {
    .container {
        width: 90%; 
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%; 
        max-width: 1400px; 
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%; 
        padding: 20px 30px; 
        margin-top: 50px; 
    }
}
